@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

/*use for links
font-family: 'Oswald', sans-serif;
*/

.topnavbg {
	/*background: #343a40;*/
}

.TopNavNavbar {
	/*background: #000 !important;*/
}

img.LogoBrand {
	max-height: 7vh;
}

.TopNavText {
	text-shadow: 2px 2px 4px #000;
	font-family: 'Oswald', sans-serif;
}

.nav-link{
	color: #fff !important;
	font-size: 1.5rem
}