div.auth {
	min-height: 90vh;
	display: flex;
	/*align-items: center;*/
	justify-content: center;
	flex-direction: column;
	text-align: center;
	background: url("https://frozen-escarpment-02958.herokuapp.com/rooms/auth.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

div.auth h1 {
	color: #000;
	text-shadow: 1px 1px #fff;
}

div.auth h1.textLink strong{
	font-size: 5rem;
	color: #000;
	text-shadow: 2px 2px #fff;
}
