@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
/*use for links
font-family: 'Oswald', sans-serif;
*/

h2.cardbanner {
	margin-top: 1rem;
}

.showrooms {
	margin: 1rem 0px;
}

.cardtitlelink {
	font-weight: bold;
	color: #000;
}

.cardtitlelink:hover {
	text-decoration: none;
}

/*.carousel {
	max-height: 100vh;
}
*/
.carousel .carousel-caption h3, .carousel .carousel-caption p {
	text-shadow: 2px 2px 4px #000;
}

h2.cardbanner {
	font-family: 'Oswald', sans-serif;
}

@media only screen and (max-width: 767px) {
	.carousel .carousel-caption{
		padding-bottom: 0;
	}

	.carousel .carousel-caption p{
		font-size: 0.6rem;
	}

	.carousel .carousel-caption h3{
		font-size: 1.2rem;
	}
}