@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
/*use for links
font-family: 'Oswald', sans-serif;
*/

.catalogblog {
	/*border: 1px solid #000;*/
	
	margin: 1rem 0px;
	padding: 1rem;
}

.catalogblog h1 {
	font-family: 'Oswald', sans-serif;
	background: #999;
	border-radius: 10px;
}

.catalogblog .whatwedo-texts {
	padding: 1rem;
	background: #fff;
}


@media only screen and (max-width: 767px) {
	.catalogblog .whatwedo-texts {
		border-top: 2px solid black;
		border-bottom: 2px solid black;
	}
}


