@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');
/*
font-family: 'Quicksand', sans-serif;
*/

.contactus {
	width: 100%;
	font-family: 'Quicksand', sans-serif;
}

.contactus .container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 90vh;
	padding: 1.2rem 6rem;
}

.contactus .container:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: url("https://frozen-escarpment-02958.herokuapp.com/rooms/contactus.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	z-index: -1;
	filter: blur(7px);
}

.contactus .contact-box {
	max-width: 85%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #fff;
	box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.3);
}

.contactus .left {
	height: 100%;
	background: url("https://frozen-escarpment-02958.herokuapp.com/rooms/contactus.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.contactus .right {
	padding: 1.5rem 2.5rem;
}

.contactus h2 {
	position: relative;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.contactus h2:after {
	content: '';
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);
	height: 4px;
	width: 50px;
	border-radius: 2px;
	background: #2ecc71;
}

.contactus .field {
	width: 100%;
	padding: 0.5rem 1rem;
	outline: none;
	border: 2px solid rgba(0, 0, 0, 0);
	background: rgba(230, 230, 230, 0.6);
	font-size: 1.1rem;
	margin-bottom: 1.5rem;
	transition: 0.3s;
}

.contactus .field:hover {
	background: rgba(0, 0, 0, 0.2);
}

.contactus .field:focus {
	background: #fff;
	border: 2px solid rgba(30, 85, 250, 0.47);
}

.contactus .area {
	min-height: 8rem;
}

@media screen and (max-width: 991px) {
	.contactus .contact-box {
		grid-template-columns: 1fr;
	}

	.contactus .left{
		height: 40vh;
	}
}


@media screen and (max-width: 767px) {
	.contactus .contact-box {
		max-width: 100%;
	}

	.contactus .container {
		padding: 1rem 3rem;
	}
}

@media screen and (max-width: 460px) {

	.contactus .container {
		padding: 1rem 1rem;
	}
}