@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

.footer {
	background: #303036;
	color: #d3d3d3;
	min-height: 40vh;
}

.footer .footer-content {
	min-height: 35vh;
	display: flex;
}

.footer .footer-content h1, 
.footer .footer-content h2 {
	color: #fff;
	font-family: 'Oswald', sans-serif;
}

.footer .footer-content .about h1 span{
	color: #05f7ff;
}

.footer .footer-content .about .contact span{
	display: block;
	font-size: 1.1rem;
	margin: 0.5rem 0;
}
/*footer-socials*/
.footer .footer-content .about .socials a{
	border: 1px solid #888;
	width: 2.8rem;
	height: 2.5rem;
	margin-right: 5px;
	text-align: center;
	display: inline-block;
	font-size: 1.3rem;
	border-radius: 5px;
	color: #888;
}

.footer .footer-content .about .socials a i{
	line-height: 2.5rem;

}

.footer .footer-content .about .socials a:hover {
	border-radius: 1px solid #fff;
	color: #fff;
	transition: all 0.8s ease;
}

/*footer-links*/
.footer .footer-content .links ul a {
	display: block;
	margin-bottom: 0.8rem;
	font-size: 1.2rem;
	padding-left: 1.5rem;
	color: #888;
}

.footer .footer-content .links ul a:hover {
	color: #fff;
	margin-left: 15px;
	transition: all 0.8s ease;
}

/*contact form*/
.footer .footer-content .contact-form .contact-input {
	background: #272727;
	color: #beddbd;
	padding: 0 0.5rem;
}

.footer .footer-content .contact-form .contact-input:focus {
	background: #1a1a1a;
	transition: 0.5s;
}

/*footer-section*/
.footer .footer-content .footer-section {
	flex: 1;
	padding: 1.5rem;
}


/*footer-bottom*/
.footer .footer-bottom {
	background: #343a40;
	color: #686868;
	height: 5vh;
	text-align: center;
	line-height: 5vh;
	/*text-shadow: 1px 1px 0px #fff;*/
	text-decoration: overline;
}

.footer button {
	font-size: 1.5rem;
}

@media (max-width: 760px){
	.footer .footer-content .links ul {
		padding-left: 0px;
	}

	.footer .footer-content .links ul a {
		width: 100%;
		padding-left: 0;
		list-style: none;
	}

	.footer .footer-content .links .socials a {
		padding: 0 0.5rem;

	}

	.footer .footer-content {
		display: block;
		text-align: center;
	}

	.footer input, .footer textarea, .footer button {
		margin: 1rem auto;
	}
}