@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

.transContainer{
	min-height: 90vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background: url("https://frozen-escarpment-02958.herokuapp.com/rooms/transactions.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.usertrans {
	text-align: center;
}

.usertrans h1 {
	font-family: 'Oswald', sans-serif;
	margin-bottom: 1.5rem;
	text-shadow: 2px 2px #fff;
}

table.table {
	opacity: 0.7;
	transition: all 1s ease;
}

table.table:hover {
	opacity: 1;
}

.usertrans h2.notrans {
	text-shadow: 1px 1px #fff;
}