
div.add-room {
	height: 90vh;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	background: url("https://frozen-escarpment-02958.herokuapp.com/rooms/admin.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

div.add-room label {
	color: #fff;
	font-weight: bold;
	text-shadow: 1px 1px #999;
}

div.add-room textarea {
	height: 5rem;
}

div.add-room button {
	font-weight: bold;
} 
 
div.add-room input, 
div.add-room textarea, 
div.add-room select {
	opacity: 0.7;
	transition: all 1s ease;
}

div.add-room input:focus, 
div.add-room textarea:focus, 
div.add-room select:focus,
div.add-room button {
	background: #000;
	color: #fff;
	opacity: 1;
	transition: all 1s ease;
}