div.edit-room {
	min-height: 80vh;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	background: url("https://frozen-escarpment-02958.herokuapp.com/rooms/admin.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

div.edit-room label {
	color: #fff;
	font-weight: bold;
	text-shadow: 1px 1px #999;
}

div.edit-room textarea {
	height: 5rem;
}

div.edit-room button {
	font-weight: bold;
} 

div.edit-room input, 
div.edit-room textarea, 
div.edit-room select {
	opacity: 0.7;
	transition: all 1s ease;
}

div.edit-room input:focus, 
div.edit-room textarea:focus, 
div.edit-room select:focus,
div.edit-room button {
	background: #000;
	color: #fff;
	opacity: 1;
	transition: all 1s ease;
}