.login-box {
	min-height: 90vh;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	background: url("https://frozen-escarpment-02958.herokuapp.com/rooms/login.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.login-box .login-form {
	width: 50%;
	background: #fff;
	opacity: 0.7;
	padding: 1.5rem;
	border-radius: 10px;
	transition: all 1s ease;
}

.login-box .login-form:hover {
	opacity: 1;
}

.login-box .login-form input:focus {
	background: #000;
	color: #fff;
	transition: all 1s ease;
}

@media only screen and (max-width: 767px) {
	.login-box .login-form{
		width: 90%;
	}
}