.registration-box {
	min-height: 90vh;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	background: url("https://frozen-escarpment-02958.herokuapp.com/rooms/registration.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.registration-box .registration-form {
	width: 50%;
	background: #fff;
	opacity: 0.7;
	padding: 1.5rem;
	border-radius: 10px;
	margin: 1rem 0;
	transition: all 1s ease;
}

.registration-box .registration-form:hover {
	opacity: 1;
}

.registration-box .registration-form input:focus {
	background: #000;
	color: #fff;
	transition: all 1s ease;
}

@media only screen and (max-width: 767px) {
	.registration-box .registration-form{
		width: 90%;
	}
}